<template src='./review-list.html'></template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ReviewList extends Vue {
  @Prop() private reviews!: any[];
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss" src='./review-list.scss'>
</style>
