<div>
    <p v-if="!reviews.length">There are no reviews yet.</p>
    <ul v-else>
        <li v-for="(review, index) in reviews" :key="index">
            <p>{{ review.name }}</p>
            <p>Rating:{{ review.rating }}</p>
            <p>{{ review.review }}</p>
            <p>Recommend {{ review.recommend }}</p>
        </li>
    </ul>
</div>