<template src='./ProductReview.html'></template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ProductReview extends Vue {
  private name: string = "";
  private review: string = "";
  private rating: number = 0;
  private recommend: string = "";
  private errors: string[] = [];
  private onSubmit() {
    this.errors = [];
    if (this.name && this.review && this.rating && this.recommend) {
      let productReview = {
        name: this.name,
        review: this.review,
        rating: this.rating,
        recommend: this.recommend
      };
      this.$emit("SubmittedReview", productReview);
      this.name = "";
      this.review = "";
      this.rating = 0;
      this.recommend = "";
    } else {
      if (!this.name) this.errors.push("Name required.");
      if (!this.review) this.errors.push("Review required.");
      if (!this.rating) this.errors.push("Rating required.");
      if (!this.recommend) this.errors.push("Recommendation required.");
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss" src='./ProductReview.scss'>
</style>
