<div>
    <div v-if="!isLoading">
        <p v-if="!cities.length">There are no reviews yet.</p>
        <ul v-else>
            <li v-for="(city, index) in cities" :key="index">
                {{ city.name }}
            </li>
        </ul>
    </div>
</div>