<template src='./cities.html'></template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Cities extends Vue {
  get cities() {
    return this.$store.getters.cities;
  }

  get isLoading() {
    return this.$store.getters.isloading;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss" src='./cities.scss'>
</style>
