<div class="product">
    <div class="product-image">
        <img :src="image">
    </div>

    <div class="product-info">
        <h1>{{ title }}</h1>
        <p>route param: {{routeParam}} </p>
        <a :href="link" target="_blank" rel="noopener">Get more details</a>
        <p v-if="inStock">In Stock</p>
        <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
        <span v-show="onSale">On Sale!</span>
        <p>Shipping {{ shipping}}</p>

        <ul>
            <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <ul>
            <li v-for="size in sizes">{{ size }}</li>
        </ul>


        <div class="color-box" v-for="(variant,index) in variants" :key="variant.variantId" :style="{ backgroundColor: variant.variantColor }"
            @mouseover="updateProduct(index)">
        </div>

        <button @click="addToCart" :class="{ disabledButton: !inStock }" :disabled="!inStock">Add to cart</button>
        <button @click="removeFromCart">Remove from cart</button>


    </div>

    <div>
        <ul>
            <span style="margin-left:5px;cursor: pointer;" v-for="tab in tabs" :class="{ activeTab: selectedTab === tab }"
                @click="selectedTab = tab">{{
                tab }}</span>
        </ul>
    </div>
    <div style="width:100%;">
        <ReviewList v-show=" selectedTab == 'Reviews'" :reviews="reviews" />
    </div>
    <div style="width:100%;">
        <ProductReview v-show="selectedTab === 'Add Review'" @SubmittedReview='addReview' />
    </div>
</div>