<template src='./product.html'></template>

<script lang='ts'>
import { Component, Prop, Vue } from "vue-property-decorator";
import ProductReview from "../Product-review/ProductReview.vue";
import ReviewList from "../Review-list/review-list.vue";
@Component({
  components: {
    ProductReview,
    ReviewList
  }
})
export default class Product extends Vue {
  @Prop() private premium!: boolean;

  private product: string = "New Product";
  private brand: string = "Branded";
  private selectedVariant = 0;
  private link: string = "https://www.amazon.com/";
  private cart: number = 0;
  private onSale: boolean = true;
  private details: string[] = ["80% cotton", "20% polyester", "Gender-neutral"];
  private tabs: string[] = ["Reviews", "Add Review"];
  private selectedTab: string = "";
  private variants: any[] = [
    {
      variantId: 2234,
      variantColor: "green",
      variantImage:
        "https://dl.dropboxusercontent.com/s/9zccs3f0pimj0wj/vmSocks-green-onWhite.jpg?dl=0",
      variantQuantity: 10
    },
    {
      variantId: 2235,
      variantColor: "blue",
      variantImage:
        "https://dl.dropboxusercontent.com/s/t32hpz32y7snfna/vmSocks-blue-onWhite.jpg?dl=0",
      variantQuantity: 0
    }
  ];
  private sizes: string[] = ["S", "M", "L", "XL", "XXL", "XXXL"];
  private reviews: any[] = [];
  private updateProduct(selectedIndex: number) {
    this.selectedVariant = selectedIndex;
  }

  private removeFromCart() {
    if (this.cart > 0) {
      this.cart -= 1;
      this.$emit("getCart", this.cart);
    }
  }

  private addToCart() {
    if (this.cart < this.variants[this.selectedVariant].variantQuantity) {
      this.cart += 1;
      this.$emit("getCart", this.cart);
    }
  }

  private addReview(productReview: any) {
    this.reviews.push(productReview);
  }

  private get title() {
    return this.brand + " " + this.product;
  }

  private get image() {
    return this.variants[this.selectedVariant].variantImage;
  }

  private get inStock() {
    if (this.variants[this.selectedVariant].variantQuantity > 0) {
      return true;
    }
    return false;
  }

  private get shipping() {
    if (this.premium) {
      return "Free";
    }
    return 2.99;
  }
  // Get Route Param
  get routeParam() {
    return this.$route.params.id;
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped lang='scss' src='./product.scss'>
</style>
