<template src='./home.html'></template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
@Component
export default class Home extends Vue {
  msg = "Welcome to Your Vue.js + TypeScript App";
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
