<template src='./HelloWorld.html'></template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Product from "./Product/product.vue";

@Component({
  components: {
    Product
  }
})
export default class HelloWorld extends Vue {
  private premium: boolean = true;
  private cart: number = 0;

  private getCartValue(cartValue: number) {
    this.cart = cartValue;
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss" src='./HelloWorld.scss'>
</style>
