<template>
  <div id="app">
    <div class="nav-bar">
      <router-link to="/">Home</router-link>|
      <router-link to="/product/7">Products</router-link>
      <router-link to="/cities">Cities</router-link>
    </div>
    <div style="text-align:center;">
      <img alt="Vue logo" src="./assets/logo.png">
      <transition name="slide-left">
        <router-view/>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {
  created() {
    this.$store.dispatch("fetchCity");
  }
}
</script>

<style lang="scss" src='./App.scss'>
</style>
